.git
.github
.DS_Store
.cursor
.corepack
.pnpm-store
.turbo

node_modules
**/node_modules

.next
**/.next

dist
**/dist
build
**/build
coverage
*.log

deploy/.env
deploy/certbot
apps/api/.env
apps/web/.env.local

backups
